@page
@model IndexModel
@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Cada esforço de estudo é um investimento em seu próprio futuro. Persistam, acreditem em si mesmos e nunca subestimem o poder do conhecimento. Vocês são capazes de alcançar grandes feitos. </p>
</div>
